
@font-face {
  src: url(./fonts/spectral.woff) format('woff');
  font-family: 'Spectral';
} 

@font-face {
  src: url(./fonts/ibm-plex-sans.woff) format('woff');
  font-family: 'IBM Plex Sans';
} 